@using Microsoft.AspNetCore.Http
@using AutoServis.Helper
@model AutoServis.ViewModels.VoziloProdajaVM

@{
    Uposlenik uposlenik = Context.GetLogiraniKorisnik();
    var listaModela = new List<Model>();
}




<h1>Vozila na stanju</h1>


<form id="Pretraga" action="/MenadžerAutomobila/Find">
    <select id="markica" asp-for="MarkaID" name="MarkaID" value="@Model.MarkaID" asp-items="ViewBag.MarkaID">
        <option value="">Marka</option>
    </select>

    <select asp-for="OpremaID" name="OpremaID" asp-items="ViewBag.OpremaID">
        <option value="">Vrsta opreme</option>
    </select>
    <select asp-for="TipVoziilaID" name="TipVozilaID" asp-items="ViewBag.TipVozilaID">
        <option value="">Tip vozila</option>
    </select>
    <select asp-for="GorivoID" name="GorivoID" asp-items="ViewBag.GorivoID">
        <option value="">Gorivo</option>
    </select>
    <select asp-for="brojVrataID" name="brojVrataID" asp-items="ViewBag.BrojVrataID">
        <option value="">Broj vrata</option>
    </select>
    <select asp-for="TransmisijaID" name="TransmisijaID" asp-items="ViewBag.TransmisijaID">
        <option value="">Transmisija</option>
    </select>
    Godina proizvodnje:<input type="text" name="godina" />
    <input type="submit" value="Pretraži" class="btn btn-primary btn-xs" />
</form>
<form id="Sort2" action="/MenadžerAutomobila/Sortiraj">
    <select name="id" asp-items="ViewBag.lista">
        <option value="">Sortiraj po</option>
    </select>
    <input type="submit" value="Sortiraj" class="btn btn-primary btn-xs" />

</form>

<div class="table-responsive">

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    Model
                </th>
                <th>
                    Marka

                </th>
                <th>
                    Tip vozila

                </th>
                <th>
                    Cijena

                </th>
                <th>
                    Šifra vozila

                </th>

                <th>Akcije</th>
            </tr>
        </thead>
        @foreach (var item in Model.vozilo)
        {
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Naziv)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.marka.Nazvi)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipVozila.Naziv)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cijena)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SifraAutomobila)

                    </td>
                    <td>

                        <a atribut="@item.VoziloProdajaID" style="color:white" class="btn btn-primary btn-xs BtnDetalji ">Detalji vozila</a>
                        @if (item.isDeleted == false)
                        {

                            <a atribut="@item.VoziloProdajaID" style="color:white" class="btn btn-primary btn-xs BtnProdaj">Prodano</a>

                        }

                    </td>
                </tr>

            </tbody>
        }
    </table>

</div>


<script>
    $(".BtnDetalji").click(function (event) {

        var btn = $(this);
        var id = btn.attr("atribut");

        $.get("/MenadžerAutomobila/Details?id=" + id,
            function (rez, status) {
                $("#samko").html(rez);
            });

    });
    $(".BtnProdaj").click(function (event) {

        var btn = $(this);
        var id = btn.attr("atribut");

        $.get("/MenadžerAutomobila/AkcijaPregled?id=" + id,
            function (rez, status) {
                $("#samko").html(rez);
            });

    });


    $("form#Pretraga").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            cache: false,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $("#samko").html(data);

            }
        });

    });

    $("form#Sort2").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            cache: false,
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                $("#samko").html(data);

            }
        });

    });




</script>


