@model IEnumerable<AutoServis.Models.Racun>
@{
    ViewData["Title"] = "RacunPregled";
}
<h1 style="float:left;"> Pregled i pretraga računa </h1>


<div style="height:70px;width:100%;background-color:whitesmoke;float:left;margin-top:20px;">
    <div style="width:70%;height:100%;float:left;padding:20px 0 0 80px;box-sizing:border-box;">
        <form asp-action="PretragaRacuna" ajax-poziv="da" ajax-rezultat="Content">
            <input type="text" name="brRacuna" style="width:200px;height:35px;font-size:20px; padding:0 0 0 30px;box-sizing:border-box;border:none;border-bottom:2px solid gray;" placeholder="Broj računa" />
            <input type="submit" value="Pretraži" class="btn btn-primary" style="width:120px;height:40px;border:none;font-size:18px;padding:5px 20px;box-sizing:border-box;margin-left:100px;" />

        </form>
    </div>
   

</div>
<div id="Content" style="width:100%;height:auto;display:none;float:left;">


</div>
<table class="table" style="text-align:center;margin-top:20px;">
    <thead class="thead-dark">
        <tr>
            <th style="font-size:1.5em;">
                @Html.DisplayName("Broj računa")
            </th>
            <th style="font-size:1.5em;">
                @Html.DisplayName("Datum")
            </th>

            <th style="font-size:1.5em;">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="font-size:1.8em;padding-top:20px;">
                    @Html.DisplayFor(modelItem => item.BrojRacuna)
                </td>
                <td style="font-size:1.8em;padding-top:20px;">
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>

                <td style="position:center;">
                 
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.RacunId">Detalji računa</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    $("form[ajax-poziv='da']").submit(function (event) {
        event.preventDefault();
        
        var forma = $(this);
        var r = forma.attr("ajax-rezultat");
        var url = forma.attr("action");

        $.ajax({
            async: true,
            type: "POST",
            url: url,
            dataType: "html",
            data: forma.serialize(),

            success: function (rez) {


                $("#" + r).html(rez);
                $("#" + r).css("display", "block");
            }

        });

    });



</script>